<h1>Listing autores</h1>

<table>
  <tr>
    <th>Nome</th>
  </tr>

<% @autores.each do |autor| %>
  <tr>
    <td><%=h autor.nome %></td>
    <td><%= link_to 'Show', autor %></td>
    <td><%= link_to 'Edit', edit_autor_path(autor) %></td>
    <td><%= link_to 'Destroy', autor, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @autores %>


<br />

<%= link_to 'New autor', new_autor_path %>
