<p>
  <b>Nome:</b>
  <%=h @livro.nome %>
</p>

<p>
  <b>Autor:</b>
  <%=h @livro.autor %>
</p>

<p>
  <b>Ano:</b>
  <%=h @livro.ano %>
</p>


<%= link_to 'Edit', edit_livro_path(@livro) %> |
<%= link_to 'Back', livros_path %>